@mixin kutu($kutuRengi,$yaziRengi){
    background-color:$kutuRengi;
    color:$yaziRengi;

    width:20%;
    height: 200px;
    margin:10px;
    border:$borderRengi;
    border-radius: 10px;
    padding:10px;
}

